@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 dark:bg-gray-950 text-gray-800 dark:text-gray-200 transition-colors;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 2px;
}
.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background: #4b5563;
}
